@font-face {
  font-family: "HK Grotesk";
  src: url('fonts/hk_grotesk_pro_regular.woff2') format('woff2'), url('fonts/hk_grotesk_pro_regular.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: "Paradroid-Mono";
  src: url('fonts/ParadroidMonoLight.woff2') format('woff2'), url('fonts/ParadroidMonoLight.woff') format('woff');
  font-weight: thin;
}
@font-face {
  font-family: "Runalto";
  src: url('fonts/Runalto.woff') format('woff');
  font-weight: normal;
}

:root {
  --coffee: #3F3334;
  --coral: #EC847D;
  --mint: #AFEFC9;
  --blue: #255C99;
  --yellow: #FBD87f;
}

body {
  font-size: 1.5rem;
  color: var(--coffee);
  background-color: white;
  margin: 160px 0 0 0;
  position: relative;
  font-family: 'HK Grotesk', Helvetica, Arial, sans-serif;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: white;
}
.svg-corners {
  position: fixed;
  width: 400px;
  top: 0;
  right: 0;
  pointer-events: none;
  z-index: -1;
}
#coral_svg, #mint_svg{
  position: absolute;
  top: 0;
  right: 0;
}
#mint {
  fill: var(--mint);
  d: path("M45 0 L100 0 L100 15 Z");
  transition: 1s cubic-bezier(0.14, 0.05, 0.36, 0.98) .07s;
}
.header-right:hover #mint {
  d: path("M0 0 L100 0 L100 12 Z");
  transition: .5s cubic-bezier(0.14, 0.05, 0.36, 0.98) .05s;
}
#coral {
  fill: var(--coral);
  d: path("M60 0 L100 0 L100 16 Z");
  transition: 1s cubic-bezier(0.14, 0.05, 0.36, 0.98) .05s;
}
.header-right:hover #coral {
  d: path("M30 0 L100 0 L100 14 Z");
  transition: .7s cubic-bezier(0.14, 0.05, 0.36, 0.98) .07s;
}
.header a#logo {
  width: 150px;
}
.header a {
  float: left;
  margin: 30px 40px;
}
@keyframes main-links {
  0% {opacity:0; padding-top: 0px;}
  50% {opacity: 50%;}
  100% {opacity:100%; padding-top: 40px;}
}
.header-right {
  float: right;
  text-align: center;
  padding-right: 70px;
  animation: main-links 1s cubic-bezier(0.02, 0.7, 0.64, 0.99) forwards;
  z-index: 100;
}
.header-right a {
  font-family: 'Paradroid-Mono', 'Courier New', Courier, monospace;
  text-decoration: none;
  font-size: 1.6rem;
  text-align: center;
  color: var(--coffee);
  margin: 10px 0 0 60px;
  padding: 0 10px;
  position: relative;
}
.header-right a:hover {
  color: var(--coral);
}
@keyframes bump {
  0%   { background-size: 23%; }
  25%  { background-size: 28%; }
  50%  { background-size: 23%; }
  75%  { background-size: 26%; }
  100% { background-size: 23%; }
}
#current_page {
  background-image: url("images/page_ind.svg");
  background-size: 23%;
  background-repeat: repeat-x;
  background-position: bottom;
}
#current_page a{
  pointer-events: none;
}
#current_page:hover {
  color: var(--coffee);
  animation: bump .4s ease-in-out;
  cursor: default;
}
.jumpy {
  position: fixed;
}
.jumpy_bg {
  fill: var(--mint);
}
.jumpy svg {
  z-index: -1;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: auto;
  left: 0;
  d: path("M0 100 L0 100 L2000 100 L2000 100 Z");
}
.jumpy:hover svg .jumpy_bg {
  animation: jumpyness .4s linear forwards;
}
@keyframes jumpyness{
  0% {d: path("M0 100 L0 100 L2000 100 L2000 100 Z");}
  33% {d: path("M0 100 L0 50 L2000 50 L2000 100 Z");}
  66% {d: path("M0 100 L0 60 L2000 60 L2000 100 Z");}
  100% {d: path("M0 100 L0 50 L2000 50 L2000 100 Z");}
}
.section {
  display: flex;
  position: relative;
  z-index: 5;
  height: 70px;
  width: 100%;
  padding-top: 85px;
}
#section-bg {
  z-index: 10;
  position: absolute;
  margin-top: 18px;
  left:0;
  background: var(--yellow);
  transform: rotate(3deg);
  transform-origin: 0% 0%;
  height: 40px;
  width: 400px;
}
.section-title {
  font-family: 'Paradroid-Mono', 'Courier New', Courier, monospace;
  font-size: 2.6rem;
  color: var(--coffee);
  -webkit-text-stroke: 1pt var(--coffee);
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 20px;
  overflow: hidden;
  z-index: 15;
}
#tv {
  background: black;
  width: 100%;
  height: 600px;
  display: block;
  margin-top: 20px;
}