/* WORKS CSS */
.works_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.workbox {
  width: 500px;
  height: auto;
  margin: 20px 20px 0px 20px;
  display: flex;
  flex-direction: column;
}
.work_video {
  width: 500px;
  height: 281x;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.design_img {
  width: 500px;
  height: 500px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.work_video video {
  width: 500px;
  height: 280px;
}
.design_img .thumbs {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
}
.thumbs {
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 100%;
  background-repeat: no-repeat;
}
.works_captions {
  background-color: rgba(175, 239, 201, 0.6);
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  color: black;
  z-index: 2;
}
.works_captions, .thumbs {
  position: absolute;
  opacity: 100%;
  transition-duration: 500ms;
}
.works_captions p {
  margin: 10px 15px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.work_video:hover > .works_captions, .work_video:hover > .works_captions p, .work_video:hover > .thumbs {
  opacity: 0%;
  transition-duration: 500ms;
}

/* PNG VIDEO Thumbnails */
#thumb-raindrops {
  background-image: url('thumbs/th-raindrops.png');
}
#thumb-de_video {
  background-image: url('thumbs/th-de_video.png');
}
#thumb-curious {
  background-image: url('thumbs/th-curious.png');
}
#thumb-bank_shot {
  background-image: url('thumbs/th-bank_shot.png');
}
#thumb-snowy {
  background-image: url('thumbs/th-snowy.png');
}
#thumb-busy_start {
  background-image: url('thumbs/th-busy_start.png');
}
#thumb-busy_end {
  background-image: url('thumbs/th-busy_end.png');
}
#thumb-muybridge {
  background-image: url('thumbs/th-muybridge.png');
}
#thumb-castes {
  background-image: url('thumbs/th-castes.png');
}

/* PNG VIDEO Thumbnails */
#thumb-ad01 {
  background-image: url(design_files/thumbs/design_ad01.png);
}
#thumb-ad02 {
  background-image: url(design_files/thumbs/design_ad02.png);
}
#thumb-alexandria {
  background-image: url(design_files/thumbs/design_alexandria.png);
}
#thumb-alt16 {
  background-image: url(design_files/thumbs/design_alt16.png);
}
#thumb-artuploader {
  background-image: url(design_files/thumbs/design_artuploader.png);
}
#thumb-cco {
  background-image: url(design_files/thumbs/design_cco.png);
}
#thumb-conley {
  background-image: url(design_files/thumbs/design_conley.png);
}
#thumb-ffxflt {
  background-image: url(design_files/thumbs/design_ffxflt.png);
}
#thumb-frose {
  background-image: url(design_files/thumbs/design_frose.png);
}
#thumb-july4 {
  background-image: url(design_files/thumbs/design_july4.png);
}
#thumb-inkademy {
  background-image: url(design_files/thumbs/design_inkademy.png);
}
#thumb-playingcards {
  background-image: url(design_files/thumbs/design_playingcards.png);
  background-repeat: no-repeat;
}
#thumb-render {
  background-image: url(design_files/thumbs/design_render.png);
}
#thumb-sandman {
  background-image: url(design_files/thumbs/design_sandman.png);
}
#thumb-strath {
  background-image: url(design_files/thumbs/design_strath.png);
}
#thumb-sylk {
  background-image: url(design_files/thumbs/design_sylk.png);
}

/* PRELOAD PREVIEWS & GRAPHICS */
body::after {
  position:absolute;
  width:0;
  height:0;
  overflow:hidden;
  z-index:-1;
  content: url('previews/raindrops.webm')
    url('previews/de_video.webm')
    url('previews/kim.webm')
    url('previews/bank_shot.webm')
    url('previews/snowy.webm')
    url('previews/busy_start.webm')
    url('previews/busy_end.webm')
    url('previews/muybridge.webm')
    url('previews/castes.webm')
    url('design_files/full/ad01.png')
    url('design_files/full/ad02.png')
    url('design_files/full/alexandria.png')
    url('design_files/full/alt16.png')
    url('design_files/full/artuploader.png')
    url('design_files/full/cco.png')
    url('design_files/full/conley.png')
    url('design_files/full/ffxflt.png')
    url('design_files/full/frose.png')
    url('design_files/full/inkademy.png')
    url('design_files/full/july4.png')
    url('design_files/full/playingcards.png')
    url('design_files/full/render.png')
    url('design_files/full/sandman.png')
    url('design_files/full/strath.png')
    url('design_files/full/sylk.png');
} /*
#mgv_A-b:hover {
  background-image: url('gifs/de_video.gif');
}
#mgv_A-c:hover {
  background-image: url('gifs/kim.gif');
}
#mgv_B-a:hover {
  background-image: url('gifs/bank_shot.gif');
}
#mgv_B-b:hover {
  background-image: url('gifs/snowy.gif');
}
#mgv_B-c:hover {
  background-image: url('gifs/busy_start.gif');
}
#mgv_C-a:hover {
  background-image: url('gifs/busy-end.gif');
}
#mgv_C-b:hover {
  background-image: url('gifs/muybridge.gif');
}
#mgv_C-c:hover {
  background-image: url('gifs/castes.gif');
} */