/* WORKS CSS */
.works_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.workbox {
  width: 500px;
  height: auto;
  margin: 20px 20px 0px 20px;
  display: flex;
  flex-direction: column;
}
.work_video {
  width: 500px;
  height: 281x;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.design_img {
  width: 500px;
  height: auto;
}
.work_video video, .design_img img {
  width: 500px;
  height: 281px;
}
.thumbs {
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 100%;
  background-repeat: no-repeat;
}
.works_captions {
  background-color: rgba(175, 239, 201, 0.5);
  background-image: -moz-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5));
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 10px solid var(--coral);
  color: black;
  z-index: 2;
}
.works_captions, .thumbs {
  position: absolute;
  opacity: 100%;
  transition-duration: 500ms;
}
.works_captions p {
  margin: 10px 15px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hover_preview {
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: var(--coffee);
  font-family: 'HK Grotesk', Helvetica, Arial;
  font-size: 1rem;
}
.work_video:hover > .works_captions, .work_video:hover > .works_captions p, .work_video:hover > .thumbs {
  opacity: 0%;
  transition-duration: 500ms;
}
.section_container {
  padding-bottom: 40px;
}
/* GRAPHIC DESIGN STYLING */
.works_desc {
  background-color: rgba(236, 132, 125, 0.4);
  height: 45px;
  margin-bottom: 20px;
}
.works_desc p {
  margin: auto;
  padding: 7px 15px 10px 15px;
}
.lightbox img {
  border: 10px solid var(--coral);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}
/* .lightbox-target {
  position: fixed;
  width: 100%;
  background: rgba(0,0,0,.7);
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  z-index: 30;
}
.lightbox-target-inactive {
  opacity: 0;
  top: -100%;
  overflow: hidden;
}
.lightbox-target-active {
  opacity: 1;
  top: 0;
  bottom: 0;
  overflow: scroll;
}
.lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
  box-sizing: border-box;
  z-index: 30;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
.lightbox-target-inactive img {
  max-height: 0%;
  max-width: 0%;
}
.lightbox-target-active img {
    max-height: 100%;
    max-width: 100%;
}
.lightbox-close {
  display: block;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: default;
  top: 0;
  z-index: 29;
} */
/* STICKY HEADERS */
.section_title {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 160px;
  display: block;
}
/* STYLE OVERRIDES */
h2 {
  margin: 0;
  background-image: linear-gradient(var(--yellow), var(--yellow));
  background-repeat:  no-repeat;
  background-position-y: 18px;
  background-size: auto;
  padding: 0 5px 5px 5px;
}
/* PNG VIDEO Thumbnails */
#thumb-raindrops {
  background-image: url('thumbs/th-raindrops.png');
}
#thumb-de_video {
  background-image: url('thumbs/th-de_video.png');
}
#thumb-curious {
  background-image: url('thumbs/th-curious.png');
}
#thumb-bank_shot {
  background-image: url('thumbs/th-bank_shot.png');
}
#thumb-snowy {
  background-image: url('thumbs/th-snowy.png');
}
#thumb-busy_start {
  background-image: url('thumbs/th-busy_start.png');
}
#thumb-busy_end {
  background-image: url('thumbs/th-busy_end.png');
}
#thumb-burnout {
  background-image: url('thumbs/th-burnout.png');
}
#thumb-muybridge {
  background-image: url('thumbs/th-muybridge.png');
}
#thumb-castes {
  background-image: url('thumbs/th-castes.png');
}

/* PRELOAD PREVIEWS & GRAPHICS */
body::after {
  position:absolute;
  width:0;
  height:0;
  overflow:hidden;
  z-index:-1;
  content: url('previews/raindrops.webm')
    url('previews/de_video.webm')
    url('previews/kim.webm')
    url('previews/bank_shot.webm')
    url('previews/snowy.webm')
    url('previews/busy_start.webm')
    url('previews/busy_end.webm')
    url('previews/burnout.webm')
    url('previews/muybridge.webm')
    url('previews/castes.webm')
    url('design_files/full/adlogos.png')
    url('design_files/full/alexandria.png')
    url('design_files/full/artuploader.png')
    url('design_files/full/astronaut.png')
    url('design_files/full/ccologos.png')
    url('design_files/full/conley.png')
    url('design_files/full/frose.png')
    url('design_files/full/inkademy.png')
    url('design_files/full/july4.png')
    url('design_files/full/playingcards.png')
    url('design_files/full/quack.png')
    url('design_files/full/renderthebacon.png')
    url('design_files/full/renderthesandman.png')
    url('design_files/full/strathmeade.png')
    url('design_files/full/sylk.png');
}