@keyframes title {
    from {width: 0px;}
    to {width: 400px;}
}
@keyframes about_bg {
    from {width: 0;}
    to {width: 100%;}
}
#res_table {
    width: 90%;
    min-width: 600px;
    max-width: 1500px;
    position: relative;
    z-index: 10;
    display: inline-table;
    margin: auto;
    padding: 30px 0 40px 0;
}
#left_resume {
    width: 50%;
    padding-right: 25px;
    height: auto;
    vertical-align: top;
    text-align: left;
}
#right_resume {
    width: 50%;
    padding-left: 25px;
    height: auto;
    vertical-align: top;
    text-align: left;
}
.res_body {
    font-family: 'HK Grotesk', Helvetica, Arial;
    font-size: 1.2rem;
    color: var(--coffee);
    margin: 0 0 0 20px;
    line-height: 1.6rem;
}
.res_body ul {
    margin-top: 0;
}
#res_spacer {
    width: 40%;
    background-color: var(--coffee);
    height: 2px;
    margin: 50px auto 40px 0;
    position: relative;
}
.res_work_subtitle {
    font-family: 'HK Grotesk', Helvetica, Arial;
    margin-top: 15px;
}
#work_exp ul {
    margin-top: 15px;
}
#work_exp li {
    margin-top: 5px;
}